.our-courses-section {
  width:100%;
  color:var(--white);
  margin-top: 80px;
}
.our-courses-div {
  max-width:375px;
  margin:auto;
}
.our-courses-top-container {
  max-width:335px;
  display:flex;
  flex-direction: column;
  gap:20px;
  margin:auto;
 }
 .our-courses-cards-container {
  max-width:335px;
  margin:auto;
  margin-top: 40px;
 }
 .our-courses-title {
  color:var(--white);
  font-weight: 500;
  font-size:28px;
  line-height:1.14;
  letter-spacing: -0.04em;
 }
 .our-courses-title-span {
  color:#BEA69E;
 }
 .our-courses-text {
  color:var(--white);
  font-weight: 400;
  font-size:14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
 }
 .our-courses-cards-ol {
  list-style-type:none;
  display:flex;
  flex-direction: column;
  gap:20px;
 }
 .our-courses-cards-li {
  border-radius: 12px;
  border: 1px solid rgba(255,255,255, 0.2);
  background-image: var(--linear-gradiant);
 }
 .our-courses-card {
  height:398px;
  padding:28px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .our-courses-cards-top-block {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex:1.25;
 }
 .our-courses-course-number {
  opacity:50%;
  font-weight: 400;
  font-size:14px;
  line-height:1.28;
  letter-spacing: -0.02em;
 }
 .icon-upright-arrow {
  width:32px;
  height: 32px;
}
.icon-upright-arrow:hover {
  fill:var(--brown);
}
.our-courses-card-title {
  font-weight: 500;
  font-size:28px;
  line-height: 1.14;
  flex:5;
}
.our-courses-cours-description {
  font-weight: 400;
  font-size:14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  opacity:50%;
  flex:1;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .our-courses-div {
    max-width:768px; 
  }
  .our-courses-top-container {
    max-width:704px;
    flex-direction: row;
  }
  .our-courses-cards-container {
    max-width:704px;
  }
  .our-courses-title {
    flex:4;
    font-size:48px;
    line-height:1.125;
  }
  .our-courses-text {
    flex:5;
    font-size:16px;
    line-height: 1.25;
  }
  .our-courses-cards-ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-courses-cards-li {
    width:342px;
  }
  .our-courses-cours-description {
    font-size:16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .our-courses-div {
    max-width:1280px; 
  }
  .our-courses-top-container {
    max-width:1081px;
    flex-direction: row;
  }
  .our-courses-cards-container {
    max-width:1081px;
  }
  .our-courses-cards-ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-courses-cards-li {
    width:347px;
  }
  .our-courses-title {
    flex:625;
    font-size:48px;
  }
  .our-courses-text {
    flex:374;
    font-size:16px;
    line-height: 1.25;
  }
  .our-courses-card-title {
    font-size:28px;
    width:50%;
  }
  .our-courses-cours-description {
    font-size:16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1440px) {
  .our-courses-div {
    max-width:1440px; 
  }
  .our-courses-top-container {
    max-width:1240px;
  }
  .our-courses-cards-container {
    max-width:1240px;
  }
  .our-courses-cards-li {
    width:400px;
  }
  .our-courses-title {
    flex:545;
  }
  .our-courses-text {
    flex:455;
  }
}